<style>
    .conteiner {
        width: 100%;
        min-height: 100vh;
        background-color: blueviolet;
        padding: 10px;
    }

    .menu {
        width: 95%;
        background: #fff;
        margin: 5px auto 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .menu h2 {
        text-decoration: none;
        color: #002765;
        display: flex;
        align-items: center;
        margin-bottom: 1%;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #edeef0;
        border-radius: 30px;
        padding-left: 5px;
    }

    input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 12px;
        font-size: 14px;
    }

    button {
        background-color: gray;
        border: none;
        outline: none;
        padding: 16px 50px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 25px;
    }

    ul li {
        list-style: none;
        font-size: 17px;
        user-select: none;
        cursor: pointer;
        position: relative;
        padding: 5px;
    }

    ul li span {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        font-size: 32px;
        color: #555;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
    }

    ul li span:hover {
        background: ghostwhite;
    }

    ul li input[type="checkbox"] {
        appearance: none;
        border: 1px solid #0BBED8;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: -5px;
        left: -40px;
    }

    ul li.checked {
        background:#B0D1ED;
        text-decoration: line-through;
        border-radius: 3px;
        margin: 3px;
        left:3px;
    }

    ul li input[type="checkbox"]:checked {
        background: #0BBED8;
    }
</style>
